.slider-container {border-radius: 10px;
    top: 60px;
    left: 30%;
    width: 600px;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.slider{
    display: flex;
    transition: transform 1s ease-in-out;
}
.slider img{
    width: 600px;
    height: 300px;
    object-fit: fill;
}
.slider-container button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(240,240,240,0.2);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
}
.slider-container .prev{
    left: 10px;
}
.slider-container .next{
    right: 10px;
}